.card {
  background: floralwhite;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    span {
      font-size: x-large;
    }
    h2 {
      margin: 0;
    }
  }
  &-body {
    li {
      display: flex;
      justify-content: space-between;
    }
  }
}
